.icon{
    font-size:32px;
}

.text-nav{
    font-size: 15px;
    padding-left: 15px !important;

}

.nav-line{ 
    border-bottom: solid 1px black;
}

.btn{
    border-radius: 5px;
}
.form{
    border:none;
    border-radius: 0px;
}

